.main {
  color: white;
  height: 100vh;
  background: black;
  position: relative;
}

.heroBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
}

.heroWrapper {
  position: relative;
  z-index: 1;
  padding-top: 5rem;
  width: 66%;
  margin: 0 auto;
}

.heroTitle {
  font-size: 3rem;
}

.heroText {
  font-size: 1rem;
}
