.searchMain {
  margin: 20px;
}
.searchbarWrapper {
  max-width: 40rem;
  margin: 10px auto;
  position: relative;
}

.searchTerm {
  text-transform: capitalize;
}

.noImages {
  margin-top: 50px;
  font-size: 2rem;
  color: #646464;
  text-align: center;
}
