.searchMain {
  max-width: 1300px;
  margin: 20px auto;
}
.searchbarWrapper {
  max-width: 40rem;
  margin: 20px auto;
  position: relative;
}

.searchTerm {
  margin: 40px 0;
}

.noImages {
  margin-top: 50px;
  font-size: 2rem;
  color: #646464;
  text-align: center;
}
